:root {
  --main-bg-color: #171515;
  --nav-bg-color: #211f26;
  --header-bg-color: #000000;
  --card-bg: #242328;
  --main-font-color: #e1e1e1;
  --new-spot-title-font-color: #ffffff;
  --secondary-font-color: #cac4d0;
  --text-properties-color: #afafaf;
  --ui-selected-color: #4a4458;
  --form-input-color: #36343b;
  --main-checkbox-color: #4b2782;
  --button-soft-red: #f2b8b5;
  --toast-wrong: #b62828;
  --toast-ok: #30a75f;
  --main-font: "space mono";
  --text-font: "roboto";
  --login-button: #ffffff;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-family: var(--text-font), system-ui;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  background: none;
  border: none;
  font: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}

.button-primary--danger {
  width: 100%;
  max-width: 288px;
  height: 40px;
  border: solid 1px var(--button-soft-red);
  border-radius: 100px;
  color: var(--button-soft-red);
}

.button-primary {
  width: 100%;
  max-width: 288px;
  height: 40px;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 24px;
  justify-content: center;
  border-radius: 38px;
  border: 1px solid var(--login-button);
  line-height: 18px;
  font-size: 1.1rem;
  color: white;
}

.spot-checkbox {
  color: var(--main-font-color);
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  min-width: 256px;
  padding: 16px;
  background-color: var(--main-checkbox-color);
  border-radius: 8px;
  align-items: center;
  font-size: 0.975rem;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.5px;
}

.spot-image {
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0px 0px;
}

.checked:checked {
  background-color: rgb(31, 180, 38);
}

.checked {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  appearance: none;
  border: 1px solid #888;
  border-radius: 5px;
}
