.header {
  min-height: 105px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 34px;
  justify-content: space-between;
  background: var(--header-bg-color);
}

.header__title {
  font-family: var(--main-font), system-ui;
  font-size: 1.3rem;
  color: var(--main-font-color);
  text-align: center;
}
