.header {
  height: 40px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-family: var(--main-font), system-ui;
  font-size: 1.3rem;
  color: var(--main-font-color);
  text-align: center;
}

.header-content {
  gap: 4px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.header__elements {
  display: flex;
  align-items: center;
}

.logout-button {
  color: white;
  background-color: blueviolet;
  height: 50px;
  border: 1px black solid;
}
