.header {
  margin-top: 41px;
  display: flex;
  gap: 41px;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-family: var(--main-font), system-ui;
  font-size: 1.3rem;
  color: var(--main-font-color);
  text-align: center;
}
