.navigation-bar {
  color: var(--secondary-font-color);
  display: flex;
  width: 100vw;
  height: 80px;
  justify-content: space-evenly;
  padding: 12px;
  background-color: var(--nav-bg-color);
  bottom: 0;
  font-family: var(--text-font), system-ui;
}

.navigation-bar__links {
  display: flex;
  align-items: center;
  color: var(--secondary-font-color);
  gap: 18px;
}

.navigation-bar__element {
  width: 96px;
  height: 52px;
  display: flex;
  flex: 1;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.navigation-bar__link {
  width: 64px;
  height: 52px;
  display: flex;
  flex: 1;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-bar__link.active {
  background-color: var(--ui-selected-color);
  border: transparent;
  border-radius: 16px;
}

.navigation-bar__exit-button {
  color: var(--secondary-font-color);
  position: absolute;
  width: 96px;
  height: 52px;
  display: flex;
  flex: 1;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
