.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__elements {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.homepage__header {
  margin: 0;
  padding: 12px;
  width: 288px;
  color: #fff;
  text-align: center;
  font-family: roboto, system-ui;
  font-size: 1rem;
  font-weight: 400;
}

.login-button {
  width: 200px;
  height: 40px;
  display: flex;
  padding: 7px 10px;
  align-items: center;
  gap: 6px;
  justify-content: center;
  border-radius: 38px;
  border: 1px solid #fff;
}

.login-button__text {
  line-height: 18px;
  font-size: 1.1rem;
  color: white;
}
